{% extends "paysplit_app/base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Als nächstes <strong>MUSS</strong> zahlen: {{ who_is_next.name }}</h2>
    </div>
    
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Verfügbare Personen
            <a href="{% url 'user_add' %}"><span class="bi bi-person-plus text-success float-end"></span></a>
        </h2>
        {% if users %}
        {% for user in users %}
        <div class="col-md-auto border rounded mx-2 px-4 py-2 bg-light text-dark">
            <a href="{% url 'user_details' user.id %}">{{ user.name }}</a>
        </div>
        {% endfor %}
        {% else %}
            <p>Es sind noch keine Personen verfügbar. Füge sie hinzu!</p>
        {% endif %}
    </div>

    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Bisherige Zahlungsvorgänge
            <a href="{% url 'payment_add' %}"><span class="bi bi-plus-square text-success float-end"></span></a>
        </h2>
        {% if payments %}
        
        <table class="table">
            <tr>
                <th class="col-1">Datum</th>
                <th>Zahlung wofür</th>
                <th>Zahlungsbetrag</th>
                <th>Wer hat bezahlt</th>
                <th class="col-3">Für wen wurde bezahlt</th>
                <th class="col-1"></th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.datetime|date:'d.m.Y' }}</td>
                <td>{{ payment.description }}</td>
                <td>{{ payment.amount|floatformat:2 }}€</td>
                <td>{{ payment.from_user.name }}</td>
                <td>{{ payment.for_users_string }}</td>
                <td><a class="btn btn-outline-secondary" href="{% url 'payment_edit' payment.id %}"><span class="bi bi-pencil"></span></a></td>
            </tr>
            {% endfor %}
            <tr class="table-group-divider">
                <td colspan="2">Bisherige Summe:</td>
                <td>{{ summe|floatformat:2 }}€</td>
                <td colspan="3"></td>
            </tr>
        </table>

        {% else %}
            <p>Es wurden noch keine Zahlungen erfasst!</p>
        {% endif %}
    </div>

    <div>
        <a class="btn btn-secondary" href="{% url 'salden' %}">Salden</a>
    </div>
</div>

{% endblock %}