{% extends "paysplit_app/base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2 class="text-center">Bearbeitungsmodus</h2>

        <form action="{% url 'func_payment_edit' payment_id %}" method="post">
            {% csrf_token %}

            <table class="table">
                <tr>
                    <th>Datum</th>
                    <th>Zahlung wofür</th>
                    <th>Zahlungsbetrag</th>
                    <th>Wer hat bezahlt</th>
                    <th>Für wen wurde bezahlt</th>
                </tr>

                <tr>
                    <td><input type="date" name="datum" value="{{ created_at|date:'Y-m-d' }}" required></td>
                    <td><input type="text" name="description" value="{{ description }}" required></td>
                    <td><input type="text" name="amount" value="{{ amount|floatformat:2 }}">€</td>
                    <td>
                        <select class="mx-3" name="pay_from" defaut="{{ pay_from }}" required>
                            {% for choice in pay_from_choices %}
                            <option value="{{ choice.id }}">{{ choice.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>FÜR WEN</td>
                </tr>

            </table>

            <button class="btn btn-success btn-sm" type="submit">Änderungen speichern</button>

        </form>
    </div>

    <div>
        <a class="btn btn-secondary" href="{% url 'index' %}">Zurück zur Startseite</a>
    </div>

</div>

{% endblock %}