{% extends "paysplit_app/base.html" %}
{% block content %}

<div class="container">>
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Zahlung hinzufügen</h2>
        <form action="{% url 'func_payment_create' %}" method="post">
            {% csrf_token %}

            <table>
                <tr>
                    <td><label>Wofür?</label></td>
                    <td class="ps-2"><input type="text" name="description" required></td>
                </tr>

                <tr>
                    <td><label>Betrag</label></td>
                    <td class="ps-2"><input type="text" name="amount" required>€</td>
                </tr>

                <tr>
                    <td><label>Wer hat bezahlt?</label></td>
                    <td class="ps-2"><select name="pay_from" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label>Für wen wurde mitgezahlt?</label></td>
                    <td class="ps-2">
                        {% for user in users %}
                        <input type="checkbox" name="pay_for" value="{{ user.id }}">{{ user.name }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>

            <button class="btn btn-success btn-sm" type="submit">Hinzufügen</button>
        </form>
    </div>
    <div>
        <a class="btn btn-secondary" href="{% url 'index' %}">Zurück zur Startseite</a>
    </div>
</div>

{% endblock %}