{% extends "paysplit_app/base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Saldenübersicht für alle Benutzer</h2>
            <table class="table">
                {% for user in users %}
                <tr>
                    <td class="col-3">{{user.name}}</td>
                    <td>{{user.get_saldo|floatformat:2}}€</td>
                </tr>
                {% endfor %}
            </table>
    </div>
    

    <div>
        <a class="btn btn-secondary" href="{% url 'index' %}">Zurück zur Startseite</a>
    </div>

</div>

{% endblock %}