{% extends "paysplit_app/base.html" %}
{% block content %}



<div class="container">>
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Kontoübersicht von: {{ user_name }}</h2>
        <p>Dein Saldo beträgt: <strong>{{ user_name.get_saldo|floatformat:2 }} €</strong></p>
    </div>

    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Was hat {{ user_name }} bisher bezahlt?</h2>
        {% if payments %}
        
        <table class="table">
            <tr>
                <th>Datum</th>
                <th>Zahlung wofür</th>
                <th>Zahlungsbetrag</th>
                <!--<th>Wer hat bezahlt</th>-->
                <th>Für wen wurde bezahlt</th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.datetime|date:'d.m.Y' }}</td>
                <td>{{ payment.description }}</td>
                <td>{{ payment.amount|floatformat:2 }}€</td>
                <!--<td>{{ payment.from_user }}</td>-->
                <td>{{ payment.for_users_string }}</td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <p>Du hast bisher noch nichts bezahlt. Vielleicht wird das aber langsam mal Zeit!</p>
        {% endif %}
    </div>
<!--
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Was haben die anderen Personen bisher für {{ user_name }} bezahlt?</h2>
        {% if payments_for %}
        
        <table class="table">
            <tr>
                <th>Datum</th>
                <th>Zahlung wofür</th>
                <th>Zahlungsbetrag</th>
                <th>Wer hat bezahlt</th>
                <th>Für wen wurde bezahlt</th>
            </tr>
            {% for payment in payments_for %}
            <tr>
                <td>{{ payment.datetime|date:'d.m.Y' }}</td>
                <td>{{ payment.description }}</td>
                <td>{{ payment.amount|floatformat:2 }}€</td>
                <td>{{ payment.from_user }}</td>
                <td>{{ payment.for_users_string }}</td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <p>Du hast bisher alles bezahlt. Lass auch mal die anderen was zahlen!</p>
        {% endif %}
    </div>
-->
    <div>
        <a class="btn btn-secondary" href="{% url 'index' %}">Zurück zur Startseite</a>
    </div>

</div>
{% endblock %}