{% extends "paysplit_app/base.html" %}
{% block content %}

<div class="container">>
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Person zur Liste hinzufügen</h2>
        <form action="{% url 'func_create_user' %}" method="post">
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name" required>
            <button class="btn btn-success btn-sm" type="submit">Hinzufügen</button>
        </form>
    </div>
    <div>
        <a class="btn btn-secondary" href="{% url 'index' %}">Zurück zur Startseite</a>
    </div>
</div>

{% endblock %}