<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uhrzeit</title>
</head>
<body>
    Es ist {{ uhrzeit }} Uhr.<br>
    Das Datum ist: {{ datum }}
</body>
</html>