{% extends "einkaufszettel_app/base.html" %}

{% block content %}

<h1 class="text-center text-light">Hier sind die erledigten Einkäufe</h1>

<div class="container">
    <table class="table table-light table-hover">
        {% if gekaufte_artikel %}
        <tr class="table-secondary">
            <th class="col-1">Wiederherstellen?</th>
            <th>Artikel</th>
            <th>Anzahl</th>
            <th class="col-1">Einheit</th>
            <th>Preis</th>
            <th>Laden</th>
            <th class="col-1"></th>
        </tr>
        {% for gekaufter_artikel in gekaufte_artikel %}
        <tr>
            <td class="align-middle"><a class="text-success bi bi-arrow-repeat" href="{% url 'change_status_false' gekaufter_artikel.id gekaufter_artikel.einkaufsliste.id %}"></a></td>
            <td class="align-middle">{{ gekaufter_artikel.name }}</td>
            <td class="align-middle">{{ gekaufter_artikel.anzahl }}</td>
            <td class="align-middle">{{ gekaufter_artikel.einheit }}</td>
            <td class="align-middle">{{ gekaufter_artikel.preis }}</td>
            <td class="align-middle">{{ gekaufter_artikel.laden }}</td>
            <td class="align-middle"><a class="btn btn-outline-danger" href="{% url 'delete_artikel' gekaufter_artikel.id gekaufter_artikel.einkaufsliste.id %}"><span class="bi bi-trash"></span></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <p>Du hast noch keine Einkäufe erledigt!</p>
        {% endif %}
    </table>
</div>

<div class="container">
    <a class="btn btn-warning btn-sm" href="{% url 'index' %}">Zurück</a>
</div>


{% endblock %}