{% extends "einkaufszettel_app/base.html" %}

{% block content %}


<h1 class="text-center text-light">{{ listen_name }}</h1>

<div class="container text-center">
    <div class="row">
        
        <form class="p-3 mb-2 bg-secondary text-white rounded" action="{% url 'add_artikel' einkaufsliste_id %}" method="post">
            {% csrf_token %}

            <label>Name</label><input class="mx-3" type="text" name="name" required>
            <label>Anzahl</label><input class="mx-3" type="text" name="anzahl" required>

            <label>Einheit</label>
            <select class="mx-3" name="einheit">
                {% for einheit in einheiten %}
                <option value="{{ einheit.0 }}">{{ einheit.1 }}</option>
                {% endfor %}
            </select>

            <label>Preis</label><input class="mx-3" type="text" name="preis">
            
            <br><br>
            
            <label>Laden</label>
            <select class="mx-3" name="laden" required>
                {% for laden in laeden %}
                <option value="{{ laden.id }}">{{ laden.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-success">Artikel dieser Liste hinzufügen</button>
        </form>

    </div>
</div>

{% if artikel %}
<div class="container">
    <table class="table table-light table-hover">
        <tr class="table-secondary">
            <th class="col-1">Abhaken</th>
            <th>Artikel</th>
            <th>Anzahl</th>
            <th class="col-1">Einheit</th>
            <th>Preis</th>
            <th>Laden</th>
            <th class="col-1"></th>
        </tr>
        {% for artikel in artikel %}
        <tr>
            <td><a class="text-success align-middle bi bi-cart-check" href="{% url 'change_status_true' artikel.id artikel.einkaufsliste.id%}"></a></td>
            <td>{{ artikel.name }}</td>
            <td>{{ artikel.anzahl }}</td>
            <td>{{ artikel.einheit }}</td>
            <td>{{ artikel.preis }}€</td>
            <td>{{ artikel.laden }}</td>
            <td><a href="{% url 'delete_artikel' artikel.id artikel.einkaufsliste.id %}"><span class="bi bi-trash text-danger"></span></a></td>
        </tr>
        {% endfor %}
        <tr class="table-secondary">
            <td colspan="4">Summe:</td>
            <td>{{ summe }}€</td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>

{% else %}
<p>Keine Artikel vorhanden. Füge etwas hinzu!</p>   
{% endif %} 



<div class="container">
    <a class="btn btn-warning btn-sm" href="{% url 'index' %}">Zurück</a>
</div>

{% endblock %}