{% extends "einkaufszettel_app/base.html" %}

{% block content %}

<h1 class="text-center text-light">Deine Einkaufslisten</h1>

<div class="container text-center">
    <form class="p-3 mb-2 bg-secondary text-white rounded" action="{% url 'add_einkaufsliste' %}" method="post">
        {% csrf_token %}
        <label>Name: </label><input class="mx-3" type="text" name="name" required>
        <button class="btn btn-success" type="submit">Neue Einkaufsliste erstellen</button>
    </form>
</div>


{% if einkaufslisten %}
{% for einkaufsliste in einkaufslisten %}
<div class="container">
    <div class="row row-cols-auto">
        <div class="card col" style="width: 18rem;">
            <table class="table-light">
                
                <tr>
                    <th>{{ einkaufsliste.name }}</th>
                    <th class="col-3">Status 0/10</th>
                </tr>
                <tr>
                    <td>Summe:</td>
                    <td>{{ summe }}€</td>
                </tr>
                <tr>
                    <td><a href="{% url 'einkaufsliste_details' einkaufsliste.id %}">Liste ansehen</a></td>
                    <td><a href="{% url 'delete_einkaufsliste' einkaufsliste.id %}"><span class="bi bi-trash text-danger"></span></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% else %}
<p>Noch keine Einkaufslisten erstellt!</p>
{% endif %}

<div class="container">
    <a class="btn btn-warning btn-sm" href="{% url 'laeden' %}">Zu den Läden</a>
    <a class="btn btn-warning btn-sm" href="{% url 'erledigte_artikel' %}">Gleiche Artikel nochmal kaufen?</a>
</div>

{% endblock %}