{% extends "einkaufszettel_app/base.html" %}

{% block content %}

<form action="{% url 'add_laden' %}" method="post">
    {% csrf_token %}
    <label>Name: </label><input type="text" name="name" required>
    <button type="submit">Neue Laden hinzufügen</button>
</form>


{% if laeden %}
<table>
    {% for laden in laeden %}
    <tr>
        <td>{{ laden }}</td>
        <td><a href="{% url 'delete_laden' laden.id %}"><span class="bi bi-trash"></span></a></td>
    </tr>
    {% endfor %}

    {% else %}
    <p>Noch keine Läden vorhanden!</p>
{% endif %}
</table>

<a href="{% url 'index' %}">Zurück</a>

{% endblock %}