<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say Hello</title>
</head>
<body>
    Meine erste Website. Sag "Hallo" zu {{ name }}
</body>
</html>