<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Archiv - Todo-Liste</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="text-center">
        <h1>Das sind deine abgeschlossenen Aufgaben</h1>
        <p class="fw-light">Aktuell sind bereits {{ tasks|length }} Aufgaben aus deiner Liste erledigt</p>
    </div>
    {% if erledigte_tasks %}
    <table class="table table-success table-striped table-hover ">
        <tr class="table-light">
            <th>Aufgabe</th>
            <th>fällig am</th>
            <th>Status</th>
            <th>Kategorie</th>
        </tr>
        {% for erledigter_task in erledigte_tasks %}
        <tr>
            <td>{{ erledigter_task.task_text }}</td>
            <td>{{ erledigter_task.task_deadline }}</td>
            <td>{{ erledigter_task.task_status }}</td>
            <td>{{ erledigter_task.task_category_text }}</td>
        </tr>
        {% endfor %}
    {% else %}
    <p>Keine Aufgaben</p>
    {% endif %}
    </table>
    <a class="btn btn-warning btn-sm" href="{% url 'index' %}">Zur Startseite</a>

</body>
</html>