<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Bearbeiten - Todo-Liste</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="text-center">
        <h1>Todo Aufgabe bearbeiten</h1>
    </div>
    <form  action="{% url 'change_task' id %}" method="POST">
        {% csrf_token %}
        <table class="table table-success table-striped table-hover ">
            <tr class="table-light">
                <th>Aufgabe</th>
                <th>fällig am</th>
                <th>Status</th>
                <th>Kategorie</th>
            </tr>
            <tr>
                <td><input name="name_edit" type="text" value="{{ name }}" required></td>
                <td><input name="deadline_edit" type="date" value="{{ deadline|date:'Y-m-d' }}" required></td>
                <td>
                    <!--fest Codierter Status, da über for nicht möglich-->
                    <select class="mx-3" name="status_edit" defaut="{{ status }}" required>
                        <option value="O">Offen</option>
                        <option value="E">Erledigt</option>
                        <option value="L">Löschen</option>
                    </select>
                </td>
                <td><input name="category_edit" type="text" value="{{ category }}" required></td>
            </tr>
        </table>
    <button class="btn btn-success" type="submit">Änderungen speichern</button>
    <a class="btn btn-danger" href="{% url 'index' %}">Änderungen verwerfen (Zurück)</a>
    </form>
</body>
</html>