<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Index - Todo Liste</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="text-center">
        <h1>Das ist deine ToDo-Liste</h1>
        <p class="fw-light">Aktuell sind noch {{ tasks|length }} Aufgaben zu erledigen</p>
    </div>
    <div class="text-center form-floating p-3 rounded bg-light text-dark mb-3">
        <form action="{% url 'new_task' %}" method="post">
            <fieldset> 
            <!--    <legend class="text-start">Neue Aufgabe erstellen:</legend>-->
            {% csrf_token %}
                <label>Aufgabenname</label><input class="mx-3" type="text" name="name", required>
                <label>Fälligkeitsdatum</label><input class="mx-3" type="date" name="deadline", required>
                <label>Kategorie</label><input class="mx-3" type="text" name="category", required>
                <input class="btn btn-secondary" type="submit">
            </fieldset> 
        </form>
    </div>
    {% if tasks %}
    <table class="table table-success table-striped table-hover">
        <tr class="table-light">
            <th>Aufgabe</th>
            <th>fällig am</th>
            <th class="col-1">Status</th>
            <th>Kategorie</th>
            <th class="col-1"></th>
            <th class="col-1"></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task_text }}</td>
            <td>{{ task.task_deadline }}</td>
            <td>{{ task.task_status }}</td>
            <td>{{ task.task_category_text }}</td>
            <td><a class="btn btn-outline-secondary" href="{% url 'edit' task.id %}"><span class="bi bi-pencil"></span> Edit</a></td>
            <td><a class="btn btn-outline-secondary" href="{% url 'delete_task' task.id %}"><span class="bi bi-trash"></span></a></td>
        </tr>
        {% endfor %}
    </table>

    <a class="btn btn-warning btn-sm" href="{% url 'archiv' %}">Zum Archiv</a>

<!--
    <ol>
        {% for task in tasks %}
        <li>{{ task.task_text }}</li>
        {% endfor %}
    </ol>
    {% else %}
    <p>Keine Aufgaben</p>
    {% endif %}
-->

<!--
-	Todo-Punkte entfernen
-	Filtern nach Deadline
-	Todo-Punkte gruppieren
-	Übersicht mit allen Todo-Punkten

-->
</body>
</html>