<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-Liste</title>
</head>
<body>
    <h1>Herzlich Willkommen bei der ToDo-Liste</h1>
    <p>Folgende Punkte stehen derzeit auf der Liste:</p>
    <ol>
    {% for make_todo in make_todo.aufgabe_set.all %}
        <li>{{ make_todo.aufgabe }}</li>
    {% endfor %}
    </ol>
</body>
</html>