{% extends "einkaufsliste_app/base.html" %}

{% block content %}

<h1 class="text-center">Hier sind die erledigten Einkäufe</h1>

<table class="table table-bordered table-secondary">
    {% if gekaufte_artikel %}
    <tr>
        <th class="col-1">Wiederherstellen?</th>
        <th>Artikel</th>
        <th>Menge</th>
        <th>Laden</th>
        <th class="col-1"></th>
    </tr>
    {% for gekaufter_artikel in gekaufte_artikel %}
    <tr>
        <td class="align-middle"><a class="text-success bi bi-arrow-repeat" href="{% url 'change_status_false' gekaufter_artikel.id %}"></a></td>
        <td class="align-middle">{{ gekaufter_artikel.name }}</td>
        <td class="align-middle">{{ gekaufter_artikel.anzahl }}</td>
        <td class="align-middle">{{ gekaufter_artikel.laden }}</td>
        <td class="align-middle"><a class="btn btn-outline-danger" href="{% url 'delete_artikel' gekaufter_artikel.id %}"><span class="bi bi-trash"></span></a></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>Du hast noch keine Einkäufe erledigt!</p>
    {% endif %}
</table>

<a class="btn btn-warning btn-sm" href="{% url 'index' %}">Zurück</a>

{% endblock %}