{% extends "einkaufsliste_app/base.html" %}

{% block content %}

    <h1 class="text-center">Einkaufsliste</h1>

    <div class="content">

        <div class="formular text-center form-floating p-3 rounded bg-light text-dark mb-3">
            <form action="{% url 'new_item' %}" method="POST">
            {% csrf_token %}
                <fieldset>
                    <label>Name des Artikel</label><input class="mx-3" type="text" name="name" required>
                    <label>Menge (inkl. Einheit)</label><input class="mx-3" type="text" name="anzahl" required>
                    <label>Wo kaufen?</label>
                        <select class="mx-3" name="laden">
                            {% for shop in shops %}
                            <option value="{{shop.id}}">{{shop}}</option>
                            {% endfor %}
                        </select>
                    <button class="btn btn-success mx-3" type="submit">Zur Liste hinzufügen</button>
                </fieldset>
            </form>
        </div>


        <div class="tabelle">
        <table class="table table-bordered table-secondary">
            {% if zu_kaufende_artikel %}
            <tr>
                <th class="col-1">Erledigt?</th>
                <th>Artikel</th>
                <th>Menge</th>
                <th>Laden</th>
                <th class="col-1"></th>
            </tr>
            {% for zu_kaufenden_artikel in zu_kaufende_artikel %}
            <tr>
                <td><a class="text-success align-middle bi bi-cart-check" href="{% url 'change_status_true' zu_kaufenden_artikel.id %}"></a></td>
                <td class="align-middle">{{ zu_kaufenden_artikel.name }}</td>
                <td class="align-middle">{{ zu_kaufenden_artikel.anzahl }}</td>
                <td class="align-middle">{{ zu_kaufenden_artikel.laden }}</td>
                <td class="align-middle">
                <!--    <a class="btn btn-outline-secondary" href="#"><span class="bi bi-pencil"></span></a>-->
                    <a class="btn btn-outline-danger" href="{% url 'delete_artikel' zu_kaufenden_artikel.id %}"><span class="bi bi-trash"></span></a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Keine Einträge</p>
        {% endif %}
        </div>

        <div>
            <a class="btn btn-warning btn-sm" href="{% url 'laeden' %}">Welche Läden gibt es bisher?</a>
            <a class="btn btn-warning btn-sm" href="{% url 'erledigte_artikel' %}">Erledigte Einkäufe</a>
        </div>

    </div>

{% endblock %}