{% extends "einkaufsliste_app/base.html" %}

{% block content %}

    <h1 class="text-center">Übersicht über alle Läden</h1>
    <div class="content">

        <div class="formular text-center form-floating p-3 rounded bg-light text-dark mb-3">
        <form action="{% url 'new_laden' %}" method="post">    
            <fieldset>
            {% csrf_token %}
                    <label>Name des Ladens</label><input class="mx-3" type="text" name="shop" required>
                    <button class="btn btn-success" type="submit">Laden hinzufügen</button>
                </fieldset>
            </form>
        </div>

        <div>
            {% if laeden %}
            <table class="table table-secondary">
                <div>
                    
                    {% for laden in laeden %}
                    <tr>
                        <td class="col-5 align-middle">{{ laden }}</td>
                        <td class="col-6 align-middle"><a href="#">Durckansicht für "{{ laden }}"</a></td>
                        <td class="col-1 align-middle"><a class="btn btn-outline-danger" href="{% url 'delete_laden' laden.id %}"><span class="bi bi-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                </div>  
            </table>
            {% else %}
            <p>Keine Einträge</p>
            {% endif %} 
        </div>

        <div>
            <a class="btn btn-warning btn-sm" href="{% url 'index' %}">Zurück</a>
        </div>

    </div>

{% endblock %}